# Godot 4+ specific ignores
nupkg/

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store

*.translation
*.blend1

**/.idea
AssetsRaw/
src/Sandbox/Art/assets_to_dowmload/
*.DotSettings.user
*.DotSettings

# only track my addons
/src/Sandbox/addons/*
!/src/Sandbox/addons/SnekTech.Tooltip

*.dll